$credits: 300px;

#credits {
    width: $credits;
    height: 100vh;
    padding: $gap2;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    right: -$credits; // escondido por padrão
    z-index: 1001;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: lighten(yellow, 30%);
    box-sizing: border-box;
    transition: right 0.3s ease-in-out;
}

main.container {
    transition: transform 0.3s ease-in-out;

    &.open-credits {
        transform: translateX(-$credits);

        .credits-open {
            display: none;
        }

        .credits-close {
            display: flex;
        }

        .curtain-credits {
            display: block;
        }

        #credits {
            right: 0; // mostra os créditos
        }
    }

    &:not(.open-credits) {
        .credits-close {
            display: none;
        }

        .curtain-credits {
            display: none;
        }

        #credits {
            right: -$credits; // garante que fique fora da tela
        }
    }

    .credits-open,
    .credits-close {
        z-index: 1002;
        background-color: white;
        border-radius: 50%;
        height: $gap2;
        width: $gap2;
        position: fixed;
        bottom: $gap;
        right: $gap;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.6;
        filter: grayscale(100%);
        transition: all 0.3s ease;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

        &:before {
            font-size: 0.8rem;
            line-height: 1;
        }

        &:hover {
            opacity: 1;
            filter: grayscale(0%);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
        }
    }

    .credits-open:before {
        content: "🛎️";
    }

    .credits-close:before {
        content: "✖️";
    }
}

.curtain-credits {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.3); // opcional
    z-index: 1000;
    display: none;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}
