body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.vectortiles {
    h1, h2, h3 {
        margin: 30px 0;
    }
    background-color: #ccc;
    .container {
        padding: 30px;
        margin: 0 auto;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0; // Zero gap para tiles se encostarem
        list-style: none;
        padding: 0;
        margin: 0;
        grid-gap: 20px;
        border: none; // Remove borda do container
        &.lines li {
            &:nth-of-type(1) {
                @include lines(10%, 20, #666);

                &:before {
                    content: "lines(10%, 20, #666)";
                }
            }

            &:nth-of-type(2) {
                @include lines(20%, 20, #666);

                &:before {
                    content: "lines(20%, 20, #666)";
                }

            }

            &:nth-of-type(3) {
                @include lines(35%, 20, #666);

                &:before {
                    content: "lines(35%, 20, #666)";
                }
            }

            &:nth-of-type(4) {
                @include lines(65%, 20, #666);

                &:before {
                    content: "lines(65%, 20, #666)";
                }
            }

            &:nth-of-type(5) {
                @include lines(95%, 20, #666);

                &:before {
                    content: "lines(95%, 20, #666)";
                }
            }
        }

        // &.dots li {
        //     &:nth-of-type(1) {
        //         @include dots-a(20, #666);

        //         &:before {
        //             content: "dots-a(20, #666)";
        //         }
        //     }

        //     &:nth-of-type(2) {
        //         @include dots-b(20, #666);

        //         &:before {
        //             content: "dots-b(20, #666)";
        //         }
        //     }

        //     &:nth-of-type(3) {
        //         @include dots-c(20, #666);

        //         &:before {
        //             content: "dots-c(20, #666)";
        //         }
        //     }


        // }

        // &.grid li {
        //     &:nth-of-type(1) {
        //         @include grid-a(40, #666);

        //         &:before {
        //             content: "grid-a(40, #666)";
        //         }
        //     }

        //     &:nth-of-type(2) {
        //         @include grid-b(40, #666);

        //         &:before {
        //             content: "grid-b(40, #666)";
        //         }
        //     }

        //     &:nth-of-type(3) {
        //         @include grid-c(40, #666);
        //         &:before {
        //             content: "grid-c(40, #666)";
        //         }
        //     }


        // }

        // &.cross li {
        //     &:nth-of-type(1) {
        //         @include cross-a(20, #666);

        //         &:before {
        //             content: "cross-a(20, #666)";
        //         }
        //     }

        //     &:nth-of-type(2) {
        //         @include cross-b(20, #666);

        //         &:before {
        //             content: "cross-b(20, #666)";
        //         }
        //     }

        //     &:nth-of-type(3) {
        //         @include cross-c(20, #666);

        //         &:before {
        //             content: "cross-c(20, #666)";
        //         }
        //     }


        // }


        li {
            width: 100%;
            height: 200px;
            background-repeat: repeat;
            border: none; // Remove bordas dos tiles
            margin: 0; // Remove margens
            padding: 0; // Remove padding
            position: relative; // Para posicionar os labels
            box-sizing: border-box; // Inclui border no tamanho
transition: all 0.3s ease; // Suaviza a transição ao aplicar hover
            &:before {
                background-color: white;
                color: #333;
                padding: 4px 15px;
                margin-left: 0px;
                position: absolute;
                margin-top: -10px;
                font-size: 12px;
                font-family: monospace;
                border-radius: 30px;
                border:solid 1px #666;
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
            }

        }


    }
}
