body {
    margin: 0;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    font-family: sans-serif;
    // Disable elastic scroll by default (unless .elastic-scroll class is present)
    html:not(.elastic-scroll) * {
        overscroll-behavior-y: none;
    }


.illustration-preview {
    display: flex;
    flex-wrap: wrap;
    margin: $gap 0;
    padding: 0;
    width: 100vw;
    max-width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}
.illustration-preview .preview {
    flex: 1 0 10%;
    max-width: 10%;
    aspect-ratio: 1 / 1;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-size: 200% auto;
    background-position: center;
    transition: all 0.4s cubic-bezier(.4,1.5,.5,1);
}
.illustration-preview .preview:hover {
    background-size: 350% auto;
    z-index: 2;
}
}
