span.highlight {
  background-color: white;
  color: black;
  padding: 4px;
  box-shadow: -100px 0px 0px white;
}


section.recap {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
    grid-gap: $gap2;
    @media (max-width: $bp) {
  grid-gap: $gap;
    }
  padding: 0 !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  & > * {
    width: 100vw;
    box-sizing: border-box;

  }
&.end {
  .next {
    display: none;
  }
}
&:first-of-type {
  .previous {
    display: none;
  }
}
&:not(.end) {
  .navigation .external {
    display: none;
  }
}
  .content, .header, .navigation {
    padding: 0 $gap4 0 $gap2;
  }

  .content {
    font-family: safiro-medium;
    height: 100%;
    overflow-y: auto;
    p:has(.highlight) {
      font-size: 20px;
      font-weight: normal;
      padding: 0;
      margin: 0;
      line-height: 150%;
      margin-bottom: $gap;
        max-width: 500px;

    }

  }
  .header {
padding-top: $gap;

    h3 {
      margin: 0;
      font-size: 40px;
      font-weight: normal;
      font-family: holistical;
      margin-bottom: $gap2;
      @media (max-width: $bp) {
        font-size: 30px;
      }
    }

    h2 {
      margin: 0;
      font-size: 120px;
      overflow-wrap: break-word;
      hyphens: auto;
      word-break: normal;
      max-width: 900px;
      line-height: 90%;
      font-family: messages;
      font-weight: normal;
      margin-bottom: 0;

      @media (max-width: $bp) {
        font-size: 70px;
      }
    }
  }



  .button {
    display: inline-block;
    font-family: safiro-medium;
    padding: $gap;
    background-color: red;
    color: white;
    border: 0;
    font-size: 17px;
    font-weight: normal;
    transition: all 0.2s;
    cursor: pointer;


    &:hover {
      background-color: darkred;
    }
  }



  .navigation {

    height: 55px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 2px;
    @media (max-width: $bp) {
      grid-gap: 1px;
      padding-left: $gaphalf;
      grid-template-columns: auto 1fr;
    }
    .button {
      height: 100%;
    }

    .internal {
      display: flex;
      flex-direction: row;
      gap: 2px;
      justify-content: flex-end;
      @media (max-width: $bp) {
        gap: 1px;
        justify-content: flex-start;
      }

      .button {
        padding-top: 17px;
      }
    }

    .external {
      display: flex;
      flex-direction: row;
      gap: 2px;
      justify-content: flex-start;
    }

    a.previous,
    a.next {
      text-align: center;
      width: 30px;

      img {
        height: 25px !important;
      }
    }
  }
}

