.scroll-container {
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
  .slide {
        max-width: 500px; /* largura máxima */
        margin: 0 auto; /* centraliza */
        width: 100%; /* ocupa tela inteira se menor que 500px */
        height: 100vh;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column; /* título + cards */
        justify-content: flex-start;
        align-items: center;
        font-size: 2rem;
        border-bottom: 1px solid #ccc;
        padding: 1rem;
        position: relative; /* necessário para posicionar cards empilhados */
        overflow: hidden;
    }
    
    
}
