
.cross-a {
    --tile-size: 36px;
    --tile-color: %2300ff00; /* URL-encoded RGB values: 255,0,0 for red */
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ecross-a%3C/title%3E%3Cpath d='M4 0v4H0v3h4v4h3.001V7H11V4H7.001V0H4zm18 18v4h-4v3h4v4h3.001v-4H29v-3h-3.999v-4H22z' fill='var(--tile-color)' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: var(--tile-size);
}
