<aside class="credits">

                    <h2>About {{ .Page.Title | lower }}</h2>
                    <p>{{ .Params.description | markdownify }}</p>
                    <section class="date">
                        {{ $now := now }} {{ $date := .Page.Date }} {{ $diff := div
                        (sub $now.Unix $date.Unix) 86400 }} {{ if lt $diff 1 }}
                        <p>Published today</p>
                        {{ else if lt $diff 7 }}
                        <p>Published {{ $diff }} days ago</p>
                        {{ else if lt $diff 30 }}
                        <p>Published {{ div $diff 7 }} weeks ago</p>
                        {{ else if lt $diff 365 }}
                        <p>Published {{ div $diff 30 }} months ago</p>
                        {{ else }}
                        <p>Published {{ div $diff 365 }} years ago</p>
                        {{ end }}
                    </section>
                    {{ partial "librariesPost.html" . }} {{ partial
                    "librariesGlobal.html" . }} {{ partial "share.html" . }} {{
                    partial "references.html" . }}


                    <a href="/latest">View latest creation</a>
                    <a href="/">About ***REMOVED***</a>

                </div>


        </div>
        {{ partial "qrcode.html" . }}
</aside>
