<aside id="credits">

                    <h2>About {{ .Page.Title | lower }}</h2>
                    <p>{{ .Params.description | markdownify }}</p>
                    <section class="date">
                        {{ $now := now }} {{ $date := .Page.Date }} {{ $diff := div
                        (sub $now.Unix $date.Unix) 86400 }} {{ if lt $diff 1 }}
                        <p>Published today</p>
                        {{ else if lt $diff 7 }}
                        <p>Published {{ $diff }} days ago</p>
                        {{ else if lt $diff 30 }}
                        <p>Published {{ div $diff 7 }} weeks ago</p>
                        {{ else if lt $diff 365 }}
                        <p>Published {{ div $diff 30 }} months ago</p>
                        {{ else }}
                        <p>Published {{ div $diff 365 }} years ago</p>
                        {{ end }}
                    </section>
                    {{ partial "librariesPost.html" . }} {{ partial
                    "librariesGlobal.html" . }} {{ partial "share.html" . }} {{
                    partial "references.html" . }}


                    <p><a href="/latest">View latest creation</a></p>
                    <p><a href="/">About ***REMOVED***</a></p>
                    <p><a href="#" class="credits-close">close credits</a></p>
                </div>


        </div>
        {{ partial "qrcode.html" . }}
        <script>
        document.addEventListener("DOMContentLoaded", () => {
          const container = document.querySelector("main.container");

          document.querySelectorAll(".credits-open").forEach((btn) => {
            btn.addEventListener("click", (e) => {
              e.preventDefault();
              container.classList.add("open-credits");
            });
          });

          document.querySelectorAll(".credits-close").forEach((btn) => {
            btn.addEventListener("click", (e) => {
              e.preventDefault();
              container.classList.remove("open-credits");
            });
          });
        });
        </script>
</aside>
