<aside id="credits">
    <a href="javascript:void(0)" class="mice credits-close"></a>
 <div id="qrdisplay"></div>
                    <h2>{{ .Page.Title }}</h2>
                    <p class="date">
                        {{ $now := now }} {{ $date := .Page.Date }} {{ $diff := div
                        (sub $now.Unix $date.Unix) 86400 }} {{ if lt $diff 1 }}
                        Published today
                        {{ else if lt $diff 7 }}
                        Published {{ $diff }} days ago
                        {{ else if lt $diff 30 }}
                        Published {{ div $diff 7 }} weeks ago
                        {{ else if lt $diff 365 }}
                        Published {{ div $diff 30 }} months ago
                        {{ else }}
                        Published {{ div $diff 365 }} years ago
                        {{ end }}
                        </p>
                    <p>{{ .Params.description | markdownify }}</p>

                    <section class="tags">
                        {{ $allTech := site.Data.librariesPost }} {{ $jsFiles := .Params.js }} {{
                        $jsKeys := slice }} {{/* Coleta os nomes dos arquivos JS do frontmatter */}} {{
                        range $i, $js := $jsFiles }} {{ $jsKeys = $jsKeys | append (lower $js.file) }}
                        {{ end }} {{/* Filtra as tecnologias que estão no frontmatter */}} {{
                        $filteredTech := slice }} {{ range $key, $val := $allTech }} {{ $keyLower :=
                        lower $key }} {{ if in $jsKeys $keyLower }} {{ $filteredTech = $filteredTech |
                        append (dict "key" $key "value" $val) }} {{ end }} {{ end }} {{ $sorted := sort
                        $filteredTech "value.title" }} {{- range $i, $tech := $sorted }} {{- if gt $i 0
                        }}, {{ end }}
                        <a class="tooltip" data-tooltip-id="{{ $tech.key }}">{{ $tech.value.title }}</a>
                        {{- end }} {{- range $tech := $sorted }}
                        <div id="{{ $tech.key }}" style="display: none">
                            <p>{{ $tech.value.description }}</p>
                            <a href="{{ $tech.value.link }}" target="_blank" rel="noopener noreferrer">
                                {{ $tech.value.title }}
                            </a>
                        </div>
                        {{- end }}

                        {{ $allTech := site.Data.librariesGlobal }} {{ $techSlice := slice }} {{ range
                        $key, $val := $allTech }} {{ $techSlice = $techSlice | append (dict "key" $key
                        "value" $val) }} {{ end }} {{ $sorted := sort $techSlice "value.title" }}



                                {{- range $i, $tech := $sorted -}} {{- if gt $i 0 }}, {{ end -}}
                                <a class="tooltip" data-tooltip-id="{{ $tech.key }}"
                                    >{{ $tech.value.title }}</a
                                >
                                {{- end -}}

                            {{- range $tech := $sorted }}
                            <div id="{{ $tech.key }}" style="display: none">
                                <p>{{ $tech.value.description }}</p>
                                <a
                                    href="{{ $tech.value.link }}"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    {{ $tech.value.title }}
                                </a>
                            </div>
                            {{- end }}

                    </section>

                    <a href="#" class="button" id="share" style="display: none">Share creation</a>




                    {{
                    partial "references.html" . }}


                   <a class="button" href="/latest">View latest creation</a>
               <a class="tooltip" href="/">About ***REMOVED***</a>

                </div>


        </div>
        {{ partial "qrcode.html" . }}
        <script>
        document.addEventListener("DOMContentLoaded", () => {
          const container = document.querySelector("main.container");

          document.querySelectorAll(".credits-open").forEach((btn) => {
            btn.addEventListener("click", (e) => {
              e.preventDefault();
              container.classList.add("open-credits");
            });
          });

          document.querySelectorAll(".credits-close").forEach((btn) => {
            btn.addEventListener("click", (e) => {
              e.preventDefault();
              container.classList.remove("open-credits");
            });
          });
        });
        </script>
        <script>
            if (navigator.share) {
                document.getElementById("share").style.display = "block";
                document.getElementById("share").addEventListener("click", async () => {
                    try {
                        await navigator.share({
                            title: document.title,
                            text: "Check this out!",
                            url: window.location.href,
                        });
                    } catch (err) {
                        console.error("Error sharing:", err);
                    }
                });
            }
        </script>
</aside>
