<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Page.Title }}</title>
  <meta content="{{ default .Site.Params.author .Params.author }}" name="author" />

  <!-- Dynamically included fonts -->
  {{ with .Params.fonts }}
    {{ range . }}
      <link rel="stylesheet" href="{{ printf "fonts/%s.css" . | relURL }}">
    {{ end }}
  {{ end }}

  {{ $options := dict "outputStyle" "compressed" "enableSourceMap" true }}
  {{ $style := resources.Get "css/main.scss" | css.Sass $options | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

  {{ with .Params.css }}
    {{ range . }}
      <link href="{{ printf "css/%s.css" . | relURL }}" rel="stylesheet" />
    {{ end }}
  {{ end }}
  {{/* Open Graph image logic com verificação de arquivo customizado */}}
  {{ $ogImage := "/images/covers/live.jpg" }}
  {{ if ne .Params.status "live" }}
    {{ $ogImage = "/images/covers/draft.jpg" }}
  {{ else if .Params.cover }}
    {{ $ogImage = printf "/images/covers/%s.jpg" .Params.cover }}
  {{ else }}
    {{ $slug := .File.BaseFileName }}
    {{ $customCover := printf "images/covers/%s.jpg" $slug }}
    {{ with resources.Get $customCover }}
      {{ $ogImage = printf "/images/covers/%s.jpg" $slug }}
    {{ end }}
  {{ end }}
  <meta property="og:image" content="{{ $ogImage | absURL }}" />
  <meta property="og:description" content="{{ .Params.description }}" />
</head>
