<head>
  {{/*
    Cover image selection logic (for Open Graph and RSS):
    Priority order:
    1. If status is not "live", use {{ .Site.BaseURL }}/images/covers/draft.jpg
    2. If status is "live" and frontmatter has "cover", use cover name: eg, dudes.md have {{ .Site.BaseURL }}/images/covers/dudes.jpg
    3. If status is "live" and {{ .Site.BaseURL }}/images/covers/SLUG.jpg exists, use it
    4. If status is "live", no cover, no slug.jpg, and type is "illos", use the first illo in the list. eg, illos: attentive has {{ .Site.BaseURL }}/images/illos/attentive.jpg
    5. Otherwise, use {{ .Site.BaseURL }}/images/covers/live.jpg

    All this work is to push and forget, knowing full well RSS feeds and opengraph links are covered by default plus the possibility to customize it (if I care to remember).
  */}}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Page.Title }}</title>
  <meta content="{{ default .Site.Params.author .Params.author }}" name="author" />

  <!-- Dynamically included fonts -->
  {{ with .Params.fonts }}
    {{ range . }}
      <link rel="stylesheet" href="{{ printf "fonts/%s.css" . | relURL }}">
    {{ end }}
  {{ end }}

  {{ $options := dict "outputStyle" "compressed" "enableSourceMap" true }}
  {{ $style := resources.Get "css/main.scss" | css.Sass $options | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

  {{ with .Params.css }}
    {{ range . }}
      <link href="{{ printf "css/%s.css" . | relURL }}" rel="stylesheet" />
    {{ end }}
  {{ end }}

  {{/* Open Graph image logic com prioridade slug.jpg sobre type illos */}}
  {{ $ogImage := "/images/covers/live.jpg" }}
  {{ if ne .Params.status "live" }}
    {{ $ogImage = "/images/covers/draft.jpg" }}
  {{ else if .Params.cover }}
    {{ $ogImage = printf "/images/covers/%s.jpg" .Params.cover }}
  {{ else }}
    {{ $slug := .File.BaseFileName }}
    {{ $slugCover := printf "/images/covers/%s.jpg" $slug }}
    {{ $ogImage = $slugCover }}
    {{ if and (eq .Type "illos") (not .Params.cover) (not (fileExists (printf "static%s" $slugCover))) }}
      {{ $firstIllo := index .Params.illos 0 }}
      {{ if $firstIllo }}
        {{ $ogImage = printf "/images/illos/%s.jpg" $firstIllo }}
      {{ end }}
    {{ end }}
  {{ end }}
  <meta property="og:image" content="{{ $ogImage | absURL }}" />
  <meta property="og:description" content="{{ .Params.description }}" />


</head>
