<section class="share">
    <h3>Share</h3>
    <button id="share" style="display: none">Share</button>

    <script>
        if (navigator.share) {
            document.getElementById("share").style.display = "block";
            document
                .getElementById("share")
                .addEventListener("click", async () => {
                    try {
                        await navigator.share({
                            title: document.title,
                            text: "Check this out!",
                            url: window.location.href,
                        });
                    } catch (err) {
                        console.error("Error sharing:", err);
                    }
                });
        }
    </script>
    <div id="qrdisplay"></div>
</section>
