{{ partial "html.html" . }}
    {{ partial "head.html" . }}
    <body>

        <main class="container">

            <a href="#" class="credits-open"></a>
          <article class="content">
              {{ .Content }}
              <div class="curtain-credits"></div>
          </article>
          {{ partial "credits" . }}
        </main>



      <script>
          document.addEventListener("DOMContentLoaded", () => {
              const isMobile = /iPhone|iPad|iPod|Android/i.test(
                  navigator.userAgent,
              );

              if (isMobile) {
                  setTimeout(() => {
                      window.scrollTo(0, 1);
                  }, 100);
              }
          });
      </script>

      {{ partial "load-js.html" . }}
    </body>


</html>
